*/bin/
*/obj/
*/.cr
*/.vs/
*/logs/

/SibintekTask/appsettings.json
/SibintekTask/appsettings.Development.json

/SibintekTask.Persistence.EF/Migrations/

.*.user

*.log
*.tmp
*.temp

*.bak
*.backup

.env
*.env

Thumbs.db
ehthumbs.db
Desktop.ini

*/logs/